{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "overrides": [
    {
      "files": ["setup.js"],
      "parserOptions": {
        "sourceType": "module"
      },
      "env": {
        "jest": true
      }
    }
  ]
}
